<header class="head">
    <img src="assets/image/logo.png" id="logo" style="height: 150px; max-height: 100%;">
    <p style="color: white; font-size: 35px; font-family: 'Times New Roman', Times, serif; margin-top: 3%;"> 
        Food Haus
    </p>
    <span class="date" style="float: right;" >{{ date | date:'short'}}</span>
</header>
<nav>
<ul id="myTab" class="nav nav-tabs" role="tablist">
    <!-- <li role="presentation"><a routerLink="/home" role="tab" data-toggle="tab">Home</a></li> -->
    <li role="presentation"><a routerLink="/restaurant" role="tab" data-toggle="tab">Restaurant</a></li>
    <li role="presentation"><a routerLink="/About" role="tab" data-toggle="tab">About Us</a></li>
    
        
    <li role="presentation" style="float: right;"><a routerLink="/login" role="tab" data-toggle="tab">Login</a></li>
    <li style="float: right;" ><input type="text" id="search_text" placeholder="Search"/></li>
    <li><span></span></li>
</ul>
</nav>


<body style="margin: 0 auto;">
<div class="wrapper">

</div>
</body>


<footer class="footer">
    <span> &copy; 2019 Simple Food Reservation. All Rights Reserved</span>
</footer>