<!-- <header class="head">
    <img src="assets/image/logo.png" id="logo" style="height: 150px; max-height: 100%;">
    <p style="color: white; font-size: 35px; font-family: 'Times New Roman', Times, serif; margin-top: 3%;"> 
        Food Haus
    </p>
    <span class="date" style="float: right;" >{{ date | date:'short'}}</span>
</header>
<nav>
<ul id="myTab" class="nav nav-tabs" role="tablist">
    <li role="presentation"><a routerLink="/dashboard" role="tab" data-toggle="tab">Dashboard</a></li>
    <li role="presentation"><a routerLink="/productmanagement" role="tab" data-toggle="tab">Product Management</a></li>
    <li role="presentation"><a routerLink="/inventory" role="tab" data-toggle="tab">Inventory</a></li>

    
    <li role="presentation" style="float: right;"><a routerLink="/login" role="tab" data-toggle="tab">Login</a></li>
    <li style="float: right;" ><input type="text" id="search_text" placeholder="Search"/></li>
    <li style="float: right; margin-top: 0.5%;"><span class="date">{{ date | date:'short'}}</span></li>
</ul>
</nav> -->

<router-outlet></router-outlet>

<!-- <footer class="footer">
    <span> &copy; 2019 Simple Food Reservation. All Rights Reserved</span>
</footer> -->